# Use this for editor preferences and LSP target override
Index:
  Background: Build

InlayHints:
  Enabled: No
  ParameterNames: No
  DeducedTypes: No

CompileFlags:
  Add:
    [
      "-target",
      "x86_64-pc-windows-msvc",
      "-fms-extensions",
      "-fms-compatibility",
      "-fmsc-version=1950",
    ]

---
# For ALL C/C++ files in your project, force-include the file that defines your types
If:
  PathMatch: .*\.(h|cpp)
CompileFlags:
  Add: [-include, .clangd_helper.h]
